* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    --bg-color: #EDF2FF
    --text-color: #000B2F
  } 
  
  body.dark {
    --bg-color: #0b1717;
    --text-color: #FFFFFF;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: #276359 solid 4px;
  }
  
  h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  .username {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.9;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #276359;
    color: #EDF2FF;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
  }
  
  ul li a:hover {
    background: #183d37;
  }
  
  footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
  }
  
  footer:hover {
    opacity: 1;
  }
  
  footer a {
    color: #00082F;
  }